In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Zad 4

Which tarriff (Std or ToU) is preffered by consumers with high energy consumptios

In [3]:
houses = pd.read_csv("D:/Python_w_inz_ele/data/informations_households.csv", skiprows=0, encoding='latin1', sep=';')
daily = pd.read_csv("D:/Python_w_inz_ele/data/daily_energy_consumption_dataset.csv", skiprows=0, encoding='latin1', sep=',')
acorn = pd.read_csv("D:/Python_w_inz_ele/data/acorn_details.csv", skiprows=0, encoding='latin1', sep=';')

In [27]:
# ile energii to dużo
mask1 = pd.DataFrame(daily['energy_mean'])
maks = (mask1.max())
srednie = (mask1.mean())
print(maks)
print(srednie)

# duża ilośc energii jest już dla średniego wykorzystania energii == 2

energy_mean    6.92825
dtype: float64
energy_mean    0.21173
dtype: float64

In [51]:
# dla osób które wykorzystują więcje niż 2 energii jaka taryfa przypada
mask2 = mask1.loc[daily.energy_mean >= 2] #pomiary mogą się powtarzać w różnych dniach dla poszczególnych osób
print(mask2)
print(len(mask2))

mask3 = np.array(mask2)
mask3
# grupowanie = pd.merge(left = mask3,right = houses, how = 'inner',on='LCLid')['LCLid']
# grupowanie

         energy_mean
8163        2.077688
18344       3.002000
122536      3.880000
122576      4.004000
123298      3.117000
...              ...
3496879     2.780813
3496896     2.176333
3496897     2.252604
3496907     2.130521
3497200     2.104938

[2449 rows x 1 columns]